
@font-face {
  font-family: "moon_flower_bold"	;
  src: url("/assets/fonts/moon_flower_bold.ttf") format("truetype"); /* For IE */
  src: local("moon_flower_bold"), url("/assets/moon_flower_bold.ttf") format("truetype"); /* For non-IE */
}

@font-face {
  font-family: "moon_flower"	;
  src: url("/assets/fonts/moon_flower.ttf") format("truetype"); /* For IE */
  src: local("moon_flower"), url("/assets/moon_flower.ttf") format("truetype"); /* For non-IE */
}

.banner{
	position: relative;
}

.banner_back, .banner_text{
	text-align: center;
	position: absolute;
}

.banner_text{
	left:32%;
	margin-top:4.5%;
}

.image_back{
	margin-top: 14%;
	text-align: center;
}

#bannerBack{
	height: 100px;
	width: 100%;
}

#imageBack{
	height: 30%;
	width: 60%;
}

.page{
	margin: auto;
	height: 100%;
	width: 810px;
	text-align: center;
	position:relative;
	font-family: 'moon_flower_bold';
}

.page input[type="text"]
{
    font-family:'moon_flower_bold';
    font-size: 1em;
    letter-spacing: 0.1em;
}

.app-area, .webcam-area, .fb-picture-area{
	margin: auto;
	height: 600px;
	width: 810px;
	text-align: center;
	position: absolute;
}

.webcam-area{
	padding-top: 240px;
    background-color: rgba(50,50,50,0.9);

}

.fb-picture-area{
	height: 750px;
	padding: 20px;
	padding-top: 20px;
	background-color: gray;
    background-color: rgba(50,50,50,0.9);
}

.action-page{
	margin: auto;
	height: 100%;
	width: 810px;
	text-align: center;
	font-family: 'moon_flower_bold';
	font-size: 4em;
}

#flash {
	position:absolute;
	top:0px;
	left:0px;
	z-index:5000;
	width:100%;
	height:500px;
	background-color:#c00;
	display:none;
}

.avatar{
	margin: 1%;
}

.avatar #avatar-image{
	height: 100%;
	width: 100%;
}

.step_block_1{
	width:100%;
}

.step_block_2{
	width: 100%;
}

.step_1{
	display: inline-block;
	margin-top:1%;
	padding: 1%;
	width:60%;
}

.step_1 .step_1_text{
	margin-bottom: 2%;
	text-align: left;
	color: red;
	font-size: 1.5em;
}

.step_2{
	display: inline-block;
	margin-top:1%;
	width: 49%;
	text-align: right;
}


.step_3{
	display: inline-block;
	margin-top: 0%;
	text-align: left;
	width: 75%;
	color: green;
	font-size: 1.5em;
}

.step_3 .splash_options{
	margin-top: 2%;
}

.step_3 .splash_options img{
	height: 10%;
	width: 12%;
}


.step_4{
	display: inline;
	text-align: left;
	padding-bottom: 100px;
	font-size: 2.5em;
}

.step_4, a{
	text-decoration: none;
		color: orange;

}

.image-upload > input
{
    display: none;
}

.image-upload{
	display: inline;
}

.rotateX, .text-rotateX{
	-webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.rotateX{
    width: 26.5%;
    height: 50%;
}

 .actions-options{
	width:100%;
	height: 40%;
}

.action-option{
	display: inline;
}

 .action-option img{
	height: 70%;
	width: 20%;
}

.upload-method{
	display: inline-block;
	color: gray;
}

.upload-method img{
	height: 70%;
	width: 70%;
	margin-right: 1%; 
}

.webcam-element{
	display: inline;
	text-align: center;
}

.fb-picture{
	text-align: center;
}

.fb-picture-option{
	display: inline;
}

form, form div { display: inline; }

.splash-image{
	display: inline;
}