

@font-face {
    font-family: 'felt_tip_roman';
    src: url('/assets/felt_tip_roman.ttf') format('truetype');
}

.page{
	margin: auto;
	height: 100%;
	width: 810px;
	text-align: center;
	position:relative;
	font-family: 'felt_tip_roman';
}

.page input[type="text"] textarea
{
    font-family:'felt_tip_roman';
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.app-area, .webcam-area{
	margin: auto;
	height: 540px;
	width: 810px;
	text-align: center;
	position: relative;
}

.webcam-area{
	padding-top: 240px;
    background-color: rgba(50,50,50,0.9);

}

.fb-picture-area{
	position: absolute;
	height: 250%;
	top:1%;
/*	padding: 20px;
	padding-top: 20px;*/
	background-color: gray;
    background-color: rgba(50,50,50,0.9);
}

.banner{
	position: absolute;
	text-align: center;
}

#bannerBack{
	height: 100%;
	width: 100%;
}

.step_1{
/*	display: inline-block;
*/	padding: 1%;
	width:100%;
	text-align: left;
	color: red;
	font-size: 1.5em;
	position: absolute;
	margin-top: 35%;
	margin-left: 10%
}

.image_back{
	top: 80%;
	position: absolute;
	text-align: center;
}

.bgo{
	height: 40%;
	width: 80%;
}

.action-page{
	margin: auto;
	height: 100%;
	width: 810px;
	text-align: center;
	font-family: 'felt_tip_roman';
	font-size: 4em;
}

#flash {
	position:absolute;
	top:0px;
	left:0px;
	z-index:5000;
	width:100%;
	height:500px;
	background-color:#c00;
	display:none;
}

.avatar{
	margin: 1%;
}

.avatar #avatar-image{
	height: 100%;
	width: 100%;
}

/*.step_block_1{
	width:100%;
}

.step_block_2{
	width: 100%;
}
*/

.step_2{
	top:170%;
	width:90%;
	position: absolute;
	text-align: left;
	margin-left: 10%;
}

.step_2 img{
	padding-right: 25%;
}

.step_2 .step_2_text, .step_1 .step_1_text, .step_3 .step_3_text{
	margin-bottom: 2%;
	text-align: left;
	color: red;
	font-size: 1.5em;
}

.step_3{
	top:210%;
	width: 90%;
	text-align: left;
	position: absolute;
	margin-left: 10%;
	color: red;
	font-size: 1.5em;
}

.step_3 img{
	height: 35%;
	width: 40%;
}

/*.step_3{
	display: inline-block;
	margin-top: 0%;
	text-align: left;
	width: 75%;
	color: green;
	font-size: 1.5em;
}

.step_3 .splash_options{
	margin-top: 2%;
}*/


.step_4{
	text-align: center;
	font-size: 1.5em;
	top: 250%;
	width: 90%;
	position: absolute;
}

.step_4, a{
	text-decoration: none;
	color: orange;
}

.image-upload > input
{
    display: none;
}

.image-upload{
	display: inline;
}

.text-rotateX{
	-webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

textarea {
	font-family:'felt_tip_roman';
	font-size: 1.5em;
    border: 0;
    background: transparent /* the important bit */
}

.rotateX{
    width: 16%;
    height: 30%;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

 .actions-options{
	width:100%;
	height: 40%;
}

.action-option{
	display: inline;
}

 .action-option img{
	height: 70%;
	width: 20%;
}

.upload-method{
	display: inline-block;
	color: gray;
}

.upload-method img{
	height: 70%;
	width: 70%;
	margin-right: 1%; 
}

.available-background{
	display: inline-block;
	color: gray;
}

.available-background img{
	height: 75%;
	width: 75%;
	margin-right: 1%; 
}

.webcam-element{
	display: inline;
	text-align: center;
}

.fb-picture{
	text-align: center;
}

.fb-picture-option{
	display: inline;
}

form, form div { display: inline; }

.msg-image{
	display: inline;
}