
.banner_back{
	text-align: center;
}

.image_back{
	margin-top: 1%;
	text-align: center;
}

#bannerBack{
	height: 160px;
	width: 100%;
}

#imageBack{
	height: 30%;
	width: 60%;
}

.page{
	margin: auto;
	height: 100%;
	width: 760px;
	text-align: center;
}

.action-page{
	margin: auto;
	height: 100%;
	width: 760px;
	text-align: center;
}

.avatar #avatar-image{
	height: 100%;
	width: 100%;
}

.step_block_1{
	width:100%;
}

.step_block_2{
	width: 100%;
}

.step_1{
	display: inline-block;
	margin-top:2%;
	width: 49%;
	text-align: left;
}

.step_2{
	display: inline-block;
	margin-top:2%;
	width: 49%;
	text-align: right;
}

.step_1 .upload_method img{
	margin: 2%;
	height: 25%;
	width: 25%;
	display: inline-block;
}

.step_3{
	display: inline-block;
	margin-top: 2%;
	text-align: left;
	width: 78%;
}

.step_3 .splash_options{
	margin-top: 2%;
}

.step_3 .splash_options img{
	height: 10%;
	width: 12%;
}

.step_1 .upload_method .picture{
  background:url(deviceUpload.png);
}

.step_4{
	display: inline-block;
	text-align: right;
	width: 20%
}

.image-upload > input
{
    display: none;
}

.image-upload{
	display: inline;
}

.rotateX, .text-rotateX{
	-webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.rotateX{
    width: 26.5%;
    height: 51%;
}

 .actions-options{
	width:100%;
	height: 40%;
}

.action-option{
	display: inline;
}

 .action-option img{
	height: 70%;
	width: 20%;
}

.upload-method{
	display: inline;
}

.upload-method img{
	height: 27%;
	width: 27%;
	margin-right: 4%; 
}

form, form div { display: inline; }

.splash-image{
	display: inline;
}